h1{
  color: blue;
  font-family: cursive;
}
p.intro{
  color: grey;
  font-family: serif;
  font-weight: normal;
  font-size: 20px;
}
image.intro{
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #555;
}
